/* 
  Import the typography styles.

  MDC Typography

*/
@use "@material/typography/mdc-typography";

.container {
  padding: 30px;
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}